<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.jiyun.mapper.EmpMapper">
    <resultMap id="base" type="emp">
        <id column="eid" property="eid"></id>
        <result column="ename" property="ename"></result>
        <result column="age" property="age"></result>
        <result column="pic" property="pic"></result>
        <result column="birthday" property="birthday"></result>
        <association property="dept" javaType="dept">
            <id column="did" property="did"></id>
            <result column="dname" property="dname"></result>
        </association>
    </resultMap>
    <select id="findAll" resultMap="base">
        select * from  emp e,dept d where e.did=d.did
    </select>
    <insert id="addEmp" parameterType="emp">
        insert into emp values (null,#{emp.ename},#{emp.age},#{emp.pic},#{emp.birthday},#{emp.did})
    </insert>
    <delete id="deleteById" parameterType="int">
        delete from emp where eid=#{eid}
    </delete>
</mapper>